<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
</head>

<body>
    <header th:fragment="cabecera">
        <div class ="barra-busqueda">
            <form action="" method="POST" class="form-buscar">
                <input id="buscar" type="text" name="search" placeholder="Buscar en todos los diseños">
            </form>
            <div class="icono">
                <a href="/">
                    <img id="icon" src="../../static/img/logo.png" th:src="@{/img/logo.png}" alt="Printopolis" />
                </a>
            </div>
            
            <div class="btn-login" th:if="${session.u}">
                <a th:href="@{/user/{id}/(id=${session.u.id})}" class="btn-perfil"><img style="width: 100%;" id="icon"
                    src="../static/img/user.png" th:src="@{/img/user.png}" alt="Diseño"></a>
                <a id="boton_login" href="/logout" title="Login">
                    Cerrar sesión
                </a>
            </div>

            <div class="btn-login" th:unless="${session.u}">
                <a id="boton_login" href="/login" title="Login">
                    Regístrate o inicia sesión
                </a>
            </div>
            
        </div>

    </header>
</body>

</html>