<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
</head>

<body>
    <header th:fragment="cabecera">
        <div class="barra-busqueda">
            <form action="/design/name/" method="POST" class="form-buscar">
                <input id="buscar" type="text" name="search" placeholder="Buscar en todos los diseños">
            </form>
            <div class="icono">
                <a href="/">
                    <img id="icon" src="../../static/img/logo.png" th:src="@{/img/logo.png}" alt="Printopolis" />
                </a>
            </div>

            <div class="btn-login" th:if="${session.u}">
                <div style="display: flex; flex-direction: row; margin-left: auto; width: 80%;">
                    <a th:href="@{/user/{id}/(id=${session.u.id})}" class="btn-perfil"
                        th:utext="@{Hola} + ' ' + ${session.u.firstName} + '<br />' + @{Tu cuenta}"></a>
                    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
                    <a th:href="@{/sale/}">
                        <div style="display: flex; flex-direction: row; margin-left: auto; width: 65%;">
                            <i class="fa fa-shopping-cart fa-3x"></i>
                            <span class='badge badge-warning' id='lblCartCount'></span>
                        </div>
                    </a>
                    <a id="boton_login" href="/logout" title="Login">
                        Cerrar sesión
                    </a>
                </div>

            </div>

            <div class="btn-login" th:unless="${session.u}">
                <a id="boton_login" href="/login" title="Login">
                    Regístrate o inicia sesión
                </a>
            </div>

        </div>

    </header>
</body>

</html>