<!DOCTYPE html>
<html 
	xmlns:th="http://www.thymeleaf.org">
<head>
	<title>IW 2918-19</title>
	<th:block th:fragment="footer">
	<meta charset="utf-8">

	<footer style="margin-top: 50px;">

        <div id="name"> Printopolis</div>
        <div id="copyright">CopyRight</div>
		<div>Icons made by <a href="https://www.flaticon.com/authors/pixel-perfect" title="Pixel perfect">Pixel perfect</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>


    </footer>

	</th:block>
</head>
<body>
    
</body>
</html>