<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Printopolis</title>
	<th:block th:fragment="header">
		<link rel="stylesheet" th:href="@{/css/main.css}" href="css/main.css" type="text/css"/>
		<link rel="icon" type="image/png" th:href="@{/img/favicon.png}" href="img/favicon.png">
		<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
		<script th:src="@{/js/main.js}" src="js/main.js"></script>
		<!--Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a> -->
	
	
		<meta charset="UTF-8">
		<title>
			Printopolis
		</title>
	</th:block>
</head>

<body>
	
</body>

</html>