<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<th:block th:fragment="header">
		<link rel="stylesheet" th:href="@{/css/main.css}" href="css/main.css" type="text/css" />
		<link rel="icon" type="image/png" th:href="@{/img/favicon.png}" href="img/favicon.png">
		<script src="/js/jquery-3.3.1.js"></script>
		<script src="/js/popper.min.js"></script>
		<script src="/js/bootstrap.min.js"></script>
		<script type="text/javascript">
			const config = {
			socketUrl: "[[${session.ws}?:'']]",	// vacío indica falso
			rootUrl: "[[${session.ws}?@{/}:'']]",
			csrf: {
				name: "_csrf",
				value: "[[${_csrf.token}]]"
			},
			admin: "[[${session.u != null && session.u.hasRole('ADMIN')}?true:false]]",
			userId: "[[${session.u != null}?${session.u.id}:-1]]"
		};
		</script>
		<script th:src="@{/js/stomp.js}" src="js/stomp.js"></script>
		<script th:src="@{/js/iwclient.js}" src="js/iwclient.js"></script>
		<script th:src="@{/js/main.js}" src="js/main.js"></script>
		<!--Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a> -->


		<meta charset="UTF-8">
	</th:block>
</head>

<body>

</body>

</html>