<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
</head>

<body>
    <nav th:fragment="nav">

        <a class="button_nav" href="/" title="">
            <b>HOME</b>
        </a>
    
        <a class="button_nav" id="btnDesigns" th:href="@{/design/{category}/(category = 'all')}" title="">
            <b>DISEÑOS</b>
 
        </a>
    
        <a class="button_nav" th:href="@{/printer/}" title="">
            <b>IMPRESORES</b>  
        </a>

        <a class="button_nav" href="/pruebaAPI" title="">
            <b>Prueba API reservas</b>  
        </a>

        <a class="button_nav" id="btnCart" th:href="@{/sale/}" title="">
            <b>CESTA</b>  
        </a>

        <a class="button_nav" th:if="${session.u}" th:href="@{/message/{id}/(id=${session.u.id})}" title="">
            <b>Mensajes</b>  
        </a>

    </nav>
</body>

</html>