<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <title>Nav fragment - rest intentionally left empty</title>
</head>

<body>
    <nav th:fragment="nav">

        <img class="logo" src="../../static/img/3.png" th:src="@{/img/3.png}" alt="Printopolis" />
        <input class="search-bar" type="text" placeholder="Search..">
        <div class="btn-opciones">
            <div class="perfil">
                <img style="width: 50%;" src="../../static/img/user.png" th:src="@{/img/user.png}" alt="Usuario" />
                <a href="">Logout</a>
            </div>
            <!--Aquí habría que distinguir entre si hay alguien loggeado o no-->
        </div>


    </nav>
</body>

</html>