body{
    padding: 0;
    margin: 0;
}
nav{
    background-color: rgb(158, 185, 207);
    display: flex;
    flex-direction: row;
    padding: 1%;
}

.logo{
    margin-top: auto;
    margin-bottom: auto;
    width: 10%;
    min-width: 125px;
}

.btn-opciones{
    margin-left: auto;
    align-items: center;
    text-align: center;
}
.btn-opciones a{
    text-decoration: none;
    color: rgba(38,70,83,255);
    font-weight: bold;
}
.search-bar{
    width: 40%;
    margin:auto;
    border-radius: 10px;
    height: 30px;
}