.datatable{
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    background-color: rgba(255, 255, 255);
    box-shadow: inset 0 0 2px black, 0 0 2px black;
}

#datatable{
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 10px;
    margin-top: 30px;
    border-collapse: separate;
    border-spacing: 0 15px;
}

#datatable tbody > tr {
    background-color: rgba(255, 255, 255);
    box-shadow: inset 0 0 2px black, 0 0 2px black;
    height: 50px;
    text-align: center;
}


#datatable thead > tr {
    font-size:20px ;
}

#datatable::after {
    content: "";
    clear: both;
    display: table;
  }

#message {
    width: 560px  !important;
    margin-right: auto;
}

#sendmsg{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    background-color: #e76f51;
    border-radius: 4px;
    border: none;
    color: #fff;
    font-size: 16px;
    padding: 12px 15px 12px 15px;
    cursor: pointer;
    font-family: 'VT323', monospace;
    text-decoration: none;
    word-wrap: break-word;
}

.sidebar{
    margin-top: 20px;
    width: 630px;
    margin-right: auto;
    margin-left: auto;
}

.dataTable-info {
    text-align: center;
    margin-top: 5px;
}


.time-right {
    float: right;
    color: #aaa;
  }

h1 {
    text-align: center;
  }


  .dataTable-dropdown{
    margin-left: 20px;
    margin-right: auto;
    width: 170px;
  }

  .dataTable-search{
      width: 214px;
      margin-left: auto;
      margin-right: auto;
  }

  /*DIV desplegable ---------------------------------------------------------------------*/
  .dropdownMenu{
	width: 50%;
	margin-bottom: 3px;
}
.title{
	padding: 7px 10px;
	background-color: #1e9083;
	color: white;
	margin-bottom: 0;
}
.title:hover{
	background-color: #5edacc;
}
.dropdownButton:hover{
	cursor: pointer;
}
.dropdownButton > p .fa{
	float: right;
}
.dropdownContent ul{
	margin: 0;
	padding: 0 10px;
}
.dropdownContent,
.dropdownButton{
	border: 1px solid #1e9083;
}
.dropdownContent{
	padding: 15px 8px;
	background-color: #fff;
	margin-top: -1px;
}
.dropdownContent ul li{
	list-style: none;
	padding: 5px 0;
}
.dropdownContent ul li a{
	text-decoration: none;
}
.dropdownContent ul li a:hover{
	color: blue;
}

/*Estilo para las tabs de enviados y recibidos*/
/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    display: flex;
    justify-content: center;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
  }
  
  /* Style the buttons that are used to open the tab content */
  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: #ddd;
  }
  
  /* Create an active/current tablink class */
  .tab button.active {
    background-color: #ccc;
  }
  
  /* Style the tab content */
  .tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
    width: 58%;
    margin-left: auto;
    margin-right: auto;
  }