<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

<head>
    <th:block th:replace="fragments/header.html :: header" />
    <title>Admin</title>
</head>

<body>
    <header th:replace="fragments/cabecera.html :: cabecera">
        Header goes here
    </header>

    <nav th:replace="fragments/nav.html :: nav">
		Nav goes here
	</nav>

    <div class="admin">
        <div style="text-align: center; margin-top: 2%; display: flex; flex-direction: row;">
            <div class="col-sm-4" style="margin-right: 2%;">
                <input type="text" id="myInput" placeholder="Buscar...">
            </div>
            <select class="admin-see">
                <option value="all">Todo</option>
                <option value="Users"> Usuarios</option>
                <option value="Models"> Modelos</option>
            </select>
        </div>

        <div class="row container FilterContainer" style="margin-bottom: 2rem;">
            <div th:each="d:${designs}" class="col-sm-3 column" data-admin="Models">
                <img th:src="@{/design/{id}/captura(id=${d.id})}" alt="${d.name}" style="width:5%;" />
                <a href="" class="link">
                    <div class="content">
                        <h4 th:text="${d.name}"></h4>
                        <p>Rol: Modelo</p>
                    </div>
                </a>
                <div class="opt-admin">
                    <a href="" class="reportar">Reportar</a>
                    <form th:action="@{/design/delDesign/{id}/(id=${d.id})}" method="POST">
                        <input type="Submit" class="reportar" value="Eliminar" style="margin-top: 3px;">
                    </form>
                </div>
            </div>
            <div th:each="u:${users}" class="col-sm-3 column" data-admin="Users">
                <img src="../../static/img/user.png" th:src="@{/img/user.png}" style="width:5%;" />
                <a th:href="@{/user/{id}/(id=${u.id})}" class="link">
                    <div class="content">
                        <h4 th:text="${u.username}"></h4>
                        <p>Rol: Usuario</p>
                    </div>
                </a>
                <div class="opt-admin">
                    <a href="" class="reportar">Reportar</a>
                    <form th:action="@{/user/delUser/{id}/(id=${u.id})}" method="POST">
                        <input type="Submit" class="reportar" value="Eliminar" style="margin-top: 3px;">
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function () {
            $("#myInput").on("keyup", function () {
                var value = $(this).val().toLowerCase();
                $(".column").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
            $("select.admin-see").change(updateView);

            function updateView() {
                var component = $('select.admin-see').val();

                $('.FilterContainer')
                    .find('.column')
                    .hide()
                    .filter(function () {
                        var okComponents = true;

                        if (component !== "all") {
                            okComponents = $(this).attr('data-admin') === component;
                        }
                        //only fade a room if it satisfies all four conditions
                        return okComponents;
                    }).fadeIn('fast');
            }
        });
    </script>

    <footer th:replace="fragments/footer.html :: footer">
        Footer goes here
    </footer>

</body>

</html>