<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<link rel="stylesheet" th:href="@{/css/cart.css}" href="css/cart.css" type="text/css" />
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap" rel="stylesheet">
<link rel="stylesheet" th:href="@{/js/calendario/src/calendarjs.css}" href="/js/calendario/src/calendarjs.css"
    type="text/css" />
<script th:src="@{/js/calendario/src/calendarjs.js}" src="/js/calendario/src/calendarjs.js"></script>

<head>
    <th:block th:replace="fragments/header.html :: header" />
    <title>Carrito</title>
</head>

<body>
    <header th:replace="fragments/cabecera.html :: cabecera">
        Header goes here
    </header>
    <nav th:replace="fragments/nav.html :: nav">
        Nav goes here
    </nav>

    <div class="contenedor_productos">
        <form class="cart">
            <div class="cartProds">
                <table>
                    <tr>
                        <th>Diseño</th>
                        <th>Precio</th>
                    </tr>
                    <div th:if="${products.size() == 0}">
                        <p>Tu cesta está vacía</p>
                    </div>
                    <tr th:each="p:${products}" th:id="${p[6]}">
                        <td class="nombre" th:text="${p[5]}" th:value="${p[5]}"></td>
                        <td class="priceProd" th:text="${p[2]}" th:value="${p[2]}"></td>
                        <td>
                            <form method="POST" th:action="@{/sale/delProduct/}">
                                <input type="hidden" th:value="${p[6]}">
                                <input type="hidden" class="printerPrice" th:if="${printer != null}" th:value="${printerPrice}">
                                <button type="submit" th:id="${p[6]}" class="x">X</button>
                            </form>
                        </td>
                        <td th:if="${printer != null}" th:text="${printerPrice + ' €'}"></td>
                        <td><img th:if="${printer != null}" th:src="@{/img/printer.png}" height="30" width="30"
                                th:alt="${printer}"></td>

                    </tr>
                </table>
                <hr>
                <p id="sumPrice" th:if="${products.size() > 0}" class="total">Total
                    <span class="price" style="color:black">
                        <b class="totalPrice" id="priceTotal" th:text="${price}" th:value="${price}"></b>
                    </span>
                </p>

            </div>

            <div th:if="${products.size() > 0}" class="dropdown">
                <button id="drop" class="dropbtn">Añadir impresora</button>
                <div class="dropdown-content">
                    <a th:each="pr: ${printers}" th:href="@{/sale/printerChoice/{id}/(id=${pr.id})}" th:id="kaka"
                        th:text="${pr.name + ' ' + pr.precio + '€'}"></a>
                </div>
            </div>

            <div th:if="${products.size() > 0}" id="fin">
                <h3 id="eventDate" th:text="@{Tu pedido ha sido reservado para:} + ${evento}"></h3>
                <p id="eventId" th:text="${eventId}" hidden></p>
            </div>

            <div th:if="${products.size() > 0}" id="fin">
                <a th:if="${session.u.saleId}" th:href="@{/sale/{id}/payments/(id=${session.u.saleId.id})}"
                    class="input" id="boton">Tramitar</a>
            </div>
        </form>
        <form method="POST" th:action="@{/sale/applyDiscount/}">
            <div th:if = "${coins > 0 and coins <= price} " class="printomoneda">
                <button type="submit" class="addCoins">Usar printomonedas</button>
            </div>
        </form>
    </div>



    <footer th:replace="fragments/footer.html :: footer">
        Footer goes here
    </footer>

    <script>
        $(".x").on('click', function (e) {
            let id = this.parentElement.children[1].value;
            let pr = $(".priceProd").attr("value");
            let fin;
            let total = $(".totalPrice").attr("value");
            let printPr = $(".printerPrice").attr("value");
            if(printPr != undefined){
                fin = (total - pr - printPr).toFixed(2);
            }
            else{
            fin = (total - pr).toFixed(2);
            }

            var box = document.getElementById(id);
            console.log(box);
            while (box.firstChild) {
                box.removeChild(box.firstChild);
            }
            box.remove();
            document.getElementById("priceTotal").setAttribute("value", fin);
            document.getElementById("priceTotal").innerHTML = fin;
            var num = document.getElementById('lblCartCount').innerHTML;
            document.getElementById('lblCartCount').innerHTML = num - 1;
            e.preventDefault(); // <-- evita que se envíe de la forma normal
            go("/sale/delProduct/", 'POST', // <-- hace el `fetch`, y recibe resultados
                { prodId: id, price: pr })
                .then(d => { console.log("happy", d); })
                .catch(e => console.log("sad", e))

            var numItems = $('.x').length;
            if (numItems == 0) {
                document.getElementById("eventDate").innerHTML = "Tu pedido ha sido reservado para:-";
                document.getElementById("priceTotal").setAttribute("value", 0);
                document.getElementById("priceTotal").innerHTML = 0;
                var eventId = document.getElementById("eventId").innerHTML;
                go(config.rootUrl + "sale/delEvento?id=" + eventId, 'POST', {})
                    .then((response) => {
                        response.name;
                    })
                
                $("#boton").remove();
                $("#drop").remove();
            }
        });

        $(".addCoins").on('click', function (e) {
                $(".addCoins").prop( "disabled", true );
                let url = this.parentElement.parentElement.action

                e.preventDefault(); // <-- evita que se envíe de la forma normal
                go(url, 'POST', // <-- hace el `fetch`, y recibe resultados
                {} )
                    .then(d => { console.log("happy", d); applyDiscount()})
                    .catch(e => console.log("sad", e))
            });


    </script>

</body>

</html>