<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<link rel="stylesheet" th:href="@{/css/cart.css}" href="css/cart.css" type="text/css"/>
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap" rel="stylesheet">

<head>
    <th:block th:replace="fragments/header.html :: header" />
    <title>Carrito</title>
</head>

<body>
    <header th:replace="fragments/cabecera.html :: cabecera">
        Header goes here
    </header>
    <nav th:replace="fragments/nav.html :: nav">
        Nav goes here
    </nav>

    <div class="contenedor_productos">

        <form class="cart">
            <div th:each="p:${products}" class="apartado">
                <input type="text" th:value="${p.design}"> <p class="cantidad" th:text="${p.quantity}"></p>
            </div>

            <div class="apartado">
                <input class="input" id="boton" type="submit" value="Añadir impresora">
            </div>

            <div id="fin">
                <input class="input" id="boton" type="submit" value="Tramitar">
            </div>
        </form>

    </div>

    <footer th:replace="fragments/footer.html :: footer">
        Footer goes here
    </footer>

</body>

</html>