<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<link rel="stylesheet" type="text/css" media="screen" href="../css/designs.css">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap" rel="stylesheet">

<head>
    <th:block th:replace="fragments/header.html :: header" />
    <title>Designs</title>
</head>

<body>
    <header th:replace="fragments/cabecera.html :: cabecera">
        Header goes here
    </header>
    <nav th:replace="fragments/nav.html :: nav">
		Nav goes here
	</nav>



    <div class="carrusel">
        <div id="tecnologia">Tecnología</div>
        <div id="juguetes">Juguetes</div>
        <div id="accesorios">Accesorios</div>
        <div id="herramientas">Herramientas</div>
        <div id="hogar">Hogar</div>
        <div id="deporte">Deporte</div>
        <div id="todasLasCategorias">Todas las categorías</div>
    </div>

    <div class="contenedor_diseños">

        <div class="diseño">
            <div class="perfil">
                <img class="img-user" src="img/user.png">
                <span class="nombre">NombreDiseño</span>
                <img class="cart" src="img/cart.png" height="24px" width="24px" href=""></img>
            </div>
            <img src="https://live.staticflickr.com/8061/8185753366_6b8dc6f341_b.jpg"
                height="180" width="268">
            <div class="categorias">
                <span>phonecase</span>
                <span>tecnología</span>
                <span>accesorios</span>

            </div>
            <div class="inf">
                <span class="likes">10 <img src="https://www.flaticon.com/svg/vstatic/svg/2107/2107774.svg?token=exp=1615632655~hmac=77e0eac282b6f48f62ddc2b41df177a6" height="13px" width="14px"></span>
                <span class="vendidos">Vendidos #23</span>
            </div>
        </div>


        <div class="diseño">
            <div class="perfil">
                <img class="img-user" src="img/user.png">
                <span class="nombre">NombreDiseño</span>
                <img class="cart" src="img/cart.png" height="24px" width="24px" href=""></img>
            </div>
            <img src="http://www.freeimageslive.co.uk/files/images009/table_tennis_bat_ball.preview.jpg"
                height="180" width="268">
            <div class="categorias">
                <span>pingpong</span>
                <span>deporte</span>

            </div>
            <div class="inf">
                <span class="likes">7 <img src="https://www.flaticon.com/svg/vstatic/svg/2107/2107774.svg?token=exp=1615632655~hmac=77e0eac282b6f48f62ddc2b41df177a6" height="13px" width="14px"></span>
                <span class="vendidos">Vendidos #16</span>
            </div>
        </div>

        <div class="diseño">
            <div class="perfil">
                <img class="img-user" src="img/user.png">
                <span class="nombre">NombreDiseño</span>
                <img class="cart" src="img/cart.png" height="24px" width="24px" href=""></img>
            </div>
            <img src="https://live.staticflickr.com/2873/9604436935_1e67719ef3_b.jpg"
                height="180" width="268">
            <div class="categorias">
                <span>herramientas</span>
                <span>Llave inglesa</span>

            </div>
            <div class="inf">
                <span class="likes">2 <img src="https://www.flaticon.com/svg/vstatic/svg/2107/2107774.svg?token=exp=1615632655~hmac=77e0eac282b6f48f62ddc2b41df177a6" height="13px" width="14px"></span>
                <span class="vendidos">Vendidos #5</span>
            </div>
        </div>

        <div class="diseño"></div>
        <div class="diseño"></div>
        <div class="diseño"></div>
        <div class="diseño"></div>
        <div class="diseño"></div>


    </div>

    <footer th:replace="fragments/footer.html :: footer">
        Footer goes here
    </footer>

</body>

</html>