<!DOCTYPE html>
<meta charset="UTF-8">
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<link rel="stylesheet" th:href="@{/css/designs.css}" href="css/designs.css" type="text/css"/>
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap" rel="stylesheet">

<head>
    <th:block th:replace="fragments/header.html :: header" />
    <title>Designs</title>
</head>

<body>
    <header th:replace="fragments/cabecera.html :: cabecera">
        Header goes here
    </header>
    <nav th:replace="fragments/nav.html :: nav">
		Nav goes here
	</nav>



    <div class="carrusel">
        <a th:href="@{/design/{category}/ (category = 'Tecnologia')}" id="tecnologia">Tecnología</a>
        <a th:href="@{/design/{category}/ (category = 'Juguetes')}" id="juguetes">Juguetes</a>
        <a th:href="@{/design/{category}/ (category = 'Accesorios')}" id="accesorios">Accesorios</a>
        <a th:href="@{/design/{category}/ (category = 'Herramientas')}" id="herramientas">Herramientas</a>
        <a th:href="@{/design/{category}/ (category = 'Hogar')}" id="hogar">Hogar</a>
        <a th:href="@{/design/{category}/ (category = 'Deporte')}" id="deporte">Deporte</a>
        <a th:href="@{/design/{category}/ (category = 'all')}" id="todasLasCategorias">Todas las categorías</a>
    </div>

    <div class="titulo" th:if="${categoryName == 'all'}">
        <h1>Todas las categorías</h1>
    </div>
    <div class="titulo" th:unless="${categoryName == 'all'}">
        <h1 th:text="${categoryName}"></h1>
    </div>

    <div class="contenedor_diseños">
        <div th:each = "d: ${categoryType}" class="diseño">
            <div class="perfilUp">
                <img class="img-user" th:src="@{/img/user.png}">
                <span class="nombre" th:text= "${d.name}"></span>

                <form method="POST" th:action="@{/design/addToCart/{id}/(id=${d.id})}" enctype="multipart/form-data">
                    <input type="submit" class="cart" value="" th:id="${d.id}" >
                </form>

            </div>
            <div class="perfilCenter">
                    <a th:href="@{#} + ${d.id}" class="btn" id="openDesign">
                        <img id="iconWall" th:src="@{/design/{id}/captura(id=${d.id})}" alt="Diseño"/>
                    </a>

                 <!-- Modelo 3D -->
                <div class="modal fade modal-xl" th:id="${d.id}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content" style="width: 580px;">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                        aria-hidden="true"> x </span></button>
                            </div>
                            <div class="modal-body">
                                <script type="module"
                                    src="https://unpkg.com/@google/model-viewer/dist/model-viewer.min.js"></script>
                                <style>
                                    model-viewer {
                                      width: 580px;
                                      height: 580px;
                                      background-color: black;
                                    }
                                </style>
                                <model-viewer th:src="@{/design/{id}/design(id=${d.id})}" auto-rotate camera-controls >
                                </model-viewer>
                                <h3>Descripción</h3>
                                <p th:text="${d.description}"></p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-------------->
            </div>
            <div class="categorias">
                <span th:text="${d.category}"></span>
            </div>
            <div class="inf">
                <div class="likes"> 
                    <span  th:text="${d.puntuation}"></span>
                    <img id="heart" th:src="@{/img/heart.png}" height="13px" width="14px"/>
                </div>
                <span class="vendidos">Vendidos #23</span>
            </div>
        </div>
    </div>

    <footer th:replace="fragments/footer.html :: footer">
        Footer goes here
    </footer>

</body>

</html>