<!DOCTYPE html>
<meta charset="UTF-8">
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<link rel="stylesheet" th:href="@{/css/messages.css}" href="css/designs.css" type="text/css"/>
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap" rel="stylesheet">

<head>
    <th:block th:replace="fragments/header.html :: header" />
    <title>Messages</title>
</head>

<body>
    <header th:replace="fragments/cabecera.html :: cabecera">
        Header goes here
    </header>
    <nav th:replace="fragments/nav.html :: nav">
		Nav goes here
	</nav>

    <div class="contenedor_chats">

        <div th:each = "m: ${message}" class="chat">
            <img th:src="@{/img/user.png}" alt="Avatar">
            <p th:text = "${m.sender.firstName}"></p>
            <p th:text = "${m.text}"></p>
            <span class="time-right" th:text ="${m.dateSent}"></span>
        </div>

    </div>
    <footer th:replace="fragments/footer.html :: footer">
        Footer goes here
    </footer>

</body>

</html>