<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<link rel="stylesheet" th:href="@{/css/payment.css}" href="css/payment.css" type="text/css"/>
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap" rel="stylesheet">

<head>
    <th:block th:replace="fragments/header.html :: header" />
    <title>Tramitar pedido</title>
</head>

<body>
    <header th:replace="fragments/cabecera.html :: cabecera">
        Header goes here
    </header>
    <nav th:replace="fragments/nav.html :: nav">
        Nav goes here
    </nav>

    <div class="contenedor_productos">

        <form class="cart">
            <div class="apartado">
                <label>Dirección de envío:</label>
                <input class="input" type="text" th:value="${sales.address}">
            </div>

            <div class="apartado">
                <label>Precio total:</label>
                <input class="input" type="text" th:value="${sales.total_price}">
            </div>

            <div id="fin">
                <input class="input" id="boton" type="submit" value="Comprar">
            </div>
        </form>
        

    </div>

    <footer th:replace="fragments/footer.html :: footer">
        Footer goes here
    </footer>

</body>

</html>