<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<link rel="stylesheet" th:href="@{/css/cart.css}" href="css/cart.css" type="text/css" />
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap" rel="stylesheet">
<link rel="stylesheet" th:href="@{/js/calendario/src/calendarjs.css}" href="/js/calendario/src/calendarjs.css"
    type="text/css" />
<script th:src="@{/js/calendario/src/calendarjs.js}" src="/js/calendario/src/calendarjs.js"></script>

<head>
    <th:block th:replace="fragments/header.html :: header" />
    <title>Carrito</title>
</head>

<body>
    <header th:replace="fragments/cabecera.html :: cabecera">
        Header goes here
    </header>
    <nav th:replace="fragments/nav.html :: nav">
        Nav goes here
    </nav>

    <div class="contenedor_productos">
        <div id="myCalendar">
            <script>
                var calendarInstance = new calendarJs("myCalendar", {
                    exportEventsEnabled: true,
                    manualEditingEnabled: true,
                    showTimesInMainCalendarEvents: false,
                    minimumDayHeight: 0,
                    manualEditingEnabled: true,
                    organizerName: "Printopolis",
                    organizerEmailAddress: "Printopolis@email.com",
                    showDayNumberOrdinals: false
                });
                var eventos =  /*[[${eventos}]]*/ [];
                console.log("aaaaaaa" + eventos);
                for(let i =0; i < eventos.length; ++i){
                    let newEvent = {
                    from: eventos[i].fechaPedido,
                    to: eventos[i].fechaPedido,
                    title: eventos[i].username,
                    //description: "This is a another description of the event that has been added, so it can be shown in the pop-up dialog.",
                    location: "",
                    isAllDay: true,
                    color: "#FF0000",
                    colorText: "#FFFF00",
                    colorBorder: "#00FF00",
                    id: eventos[0].id
                };
                    calendarInstance.addEvent(newEvent, false);
                }
            </script>
        </div>
    </div>

    <footer th:replace="fragments/footer.html :: footer">
        Footer goes here
    </footer>

</body>

</html>