<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<link rel="stylesheet" th:href="@{/css/cart.css}" href="css/cart.css" type="text/css" />
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap" rel="stylesheet">
<link rel="stylesheet" th:href="@{/js/calendario/src/calendarjs.css}" href="/js/calendario/src/calendarjs.css"
    type="text/css" />
<script th:src="@{/js/calendario/src/calendarjs.js}" src="/js/calendario/src/calendarjs.js"></script>

<head>
    <th:block th:replace="fragments/header.html :: header" />
    <title>Carrito</title>
</head>

<body>
    <header th:replace="fragments/cabecera.html :: cabecera">
        Header goes here
    </header>
    <nav th:replace="fragments/nav.html :: nav">
        Nav goes here
    </nav>

    <div id="instruccionesCalendar">
        <h2>Como proceder para la elección de un turno:</h2>
        <ul>
            <li>Solo se admite una reserva en un día concreto para la impresora dada.</li>
            <li>Seleccionar el mes que se quiera para solicitar el turno.</li>
            <li>Una vez lo tengas claro, situarse sobre los días disponibles y click derecho con el ratón.</li>
            <li>En el menú que se nos despliega, escogemos la opción de Add Event. Si estamos seguros aceptaremos la confirmación.</li>
            <li>El evento aparecerá registrado en el calendario</li>
            <li>Si desea deshacerlo, botón derecho sobre el evento y seleccionaremos Delete Event</li>
        </ul>
    </div>
    <div class="contenedor_productos" style="width: 80%; margin-left: auto; margin-right: auto;">
        <div id="myCalendar">
            <script th:inline="javascript">
                /*<![CDATA[*/

                var id = /*[[${id}]]*/ 0;
                var user = /*[[${user}]]*/ '';
                var userActual = /*[[${session.u.username}]]*/ '';
                var currentSale = /*[[${currentSale}]]*/ 0;
                var currentPrinter = /*[[${currentPrinter}]]*/ 0;
                console.log(id);
                var calendarInstance = new calendarJs("myCalendar", {
                    exportEventsEnabled: false,
                    manualEditingEnabled: true,
                    showTimesInMainCalendarEvents: false,
                    minimumDayHeight: 0,
                    manualEditingEnabled: true,
                    organizerName: "Printopolis",
                    organizerEmailAddress: "Printopolis@email.com",
                    showDayNumberOrdinals: false
                }, id, user, currentSale, currentPrinter);
                ws.receive = (m) => {
                    if(m.created){
                    var date = new Date(m.from);
                    let newEvent = {
                        from: date,
                        to: date,
                        title: m.user,
                        location: "",
                        isAllDay: true,
                        color: "#484848",
                        colorText: "#F5F5F5",
                        colorBorder: "#282828",
                        id: m.id
                    };
                    if(m.idPrinter == id && m.user != userActual)
                    calendarInstance.addEventOnCreate(newEvent, true);
                }else{
                    calendarInstance.notifyRemoveEvent(m.id, true);
                    if(m.user == userActual)
                        calendarInstance.currentPrinter =0;
                }
                }
                /*]]>*/
            </script>
        </div>
        <a th:href="@{/sale/}" id="goBack">Go back to cart &rarr;</a>
    </div>

    <footer th:replace="fragments/footer.html :: footer">
        Footer goes here
    </footer>

</body>

</html>