<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <th:block th:replace="fragments/header.html :: header" />
    <script src="/js/main.js"></script>
    <title>Profile</title>
</head>

<body style="height: 100%;">
    <header th:replace="fragments/cabecera.html :: cabecera">
        Header goes here
    </header>
    <nav th:replace="fragments/nav.html :: nav">
        Nav goes here
    </nav>

    <div class="profile">
        <div class="perfil-izq">
            <div class="datos-Usuario">
                <div style="width: 100%; text-align: center;">
                    <img style="width: 20%; margin-left: 11%;" th:src="@{/user/{id}/photo/(id=${user.id})}"
                        alt="User" />
                    <a th:if="${session.u.username == user.username}"
                        style="background-color: transparent; float:right; padding: 0; margin-top: 0;" class="btn"
                        th:href="@{#editUser}"><img src="../../static/img/editar.png" th:src="@{/img/editar.png}"></a>
                    <!--Modal para editar el usuario-->
                    <div class="modal fade modal-xl" th:id="editUser" tabindex="-1" role="dialog"
                        aria-labelledby="myModalLabel">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content" style="width: 580px;">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                            aria-hidden="true"> x </span></button>
                                </div>
                                <div class="modal-body">
                                    <form class="form" method="POST" th:action="@{/user/edit/{id}/(id=${user.id})}"
                                        enctype="multipart/form-data">
                                        <label>Nombre</label>
                                        <input type="text" required name="name" placeholder="Tu nombre"
                                            th:value="${user.firstName}">
                                        <label>Sobre ti</label>
                                        <input type="text" name="aboutme" placeholder="Cuéntanos sobre ti"
                                            th:value="${user.aboutMe}">
                                        <label>Domicilio</label>
                                        <input type="text" name="address" placeholder="Dirección de envío"
                                            th:value="${user.address}">
                                        <label>Imagen de perfil</label>
                                        <input type="file" name="fichero" placeholder="Foto de perfil opcional">
                                        <input type="submit" value="Editar">
                                    </form>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <p th:text="${user.firstName}"></p>
                <div style="display: flex; flex-direction: row; width: 100%; justify-content: space-evenly;">
                    <a class="mensaje-perfil" th:if="${session.u.username == user.username}"
                        th:href="@{/message/{id}/(id=${session.u.id})}" title="">Mensaje</a>
                    <a th:if="${session.u.roles.contains('ADMIN') && session.u.username == user.username} "
                        class="mensaje-perfil" th:href="@{/admin/}" title="">Admin</a>
                    <form th:if="${session.u.username != user.username}"
                        th:action="@{/user/report/{id}/(id=${user.id})}" method="POST">
                        <button id="sendmsg" type="submit" class="mensaje-perfil report"
                            style="margin-top: 3px;">Reportar</button>
                    </form>
                </div>
                <div class="stats-usuario">
                    <div class="stats">
                        <div class="stat">
                            <p th:text="${punctuation[0]}"></p>
                        </div>
                        <div class="stat">
                            <p>Puntos</p>
                        </div>
                    </div>
                    <div class="stats">
                        <div class="stat">
                            <p th:text="${punctuation[1]}"></p>
                        </div>
                        <div class="stat">
                            <p>Diseños</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="info-Usuario">
                <h3>Sobre mí:</h3>
                <p th:text="${user.aboutMe}">
                </p>
                <h3>Ganancias:</h3>
                <div class="ganancias">
                    <img th:src="@{/img/dollar.png}" alt="Moneda" style="width: 30px; height: 30px;">
                    <p th:text="${user.ganancias}"></p>
                </div>

            </div>
        </div>
        <div class="perfil-der">
            <div th:if="${session.u.username == user.username}" style="width: 100%;">
                <button id="boton_design" style="float:right; height: auto;">Añadir diseño</button>
            </div>
            <div id="addDesignModal" class="modal">

                <div class="modal-content">
                    <span class="closeAdd" style="float:right;">&times;</span>
                    <form class="form" method="POST" th:action="@{/design/addDesign}" enctype="multipart/form-data">
                        <label>Categoría</label>
                        <select required name="category" id="ctg">
                            <option value="" disabled selected>Selecciona una categoría</option>
                            <option value="Tecnologia">Tecnología</option>
                            <option value="Juguetes">Juguetes</option>
                            <option value="Accesorios">Accesorios</option>
                            <option value="Herramientas">Herramientas</option>
                            <option value="Hogar">Hogar</option>
                            <option value="Deporte">Deporte</option>
                        </select>

                        <label>Precio</label>
                        <input id="pre" type="number" name="precio" required min="0" placeholder="Precio">
                        <label>Nombre</label>
                        <input id="nom" type="text" name="diseno" required placeholder="Diseño" pattern='^[^"]+$'>
                        <label>Descripción</label>
                        <input id="dec" type="text" name="about" placeholder="Describe el diseño">
                        <label>Volumen</label>
                        <input id="vol" type="number" name="volumen" placeholder="Volumen" min="1" required>
                        <label>Fichero del diseño</label>
                        <input id="modelo3D" type="file" name="fichero" placeholder="Archivo" accept=".glb" multiple
                            max-file-size="1024" required>
                        <label>Captura del diseño (*opcional)</label>
                        <input type="file" name="captura" placeholder="Captura" accept=".jpg, .png">
                        <input id="subir" type="submit" onclick="validate()" value="Añadir">
                    </form>
                </div>

            </div>

            <div th:each="d: ${userDesigns}" class="diseno">
                <div class="edit">
                    <h3 th:text="${d.name}"></h3>
                    <button th:if="${session.u.username == user.username}" id="boton_designMod"> <img
                            th:src="@{/img/editar.png}" alt="Editar"></button>
                </div>
                <div id="addDesignModalMod" class="modal">

                    <div class="modal-content">
                        <span class="closeMod" style="float:right;">&times;</span>
                        <form class="form" method="POST" th:action="@{/design/modDesign/{id}/(id= ${d.id})}"
                            enctype="multipart/form-data">
                            <label>Categoría</label>
                            <select required name="category" id="ctg" th:value="${d.category}">
                                <option value="" disabled selected>Selecciona una categoría</option>
                                <option value="Tecnologia">Tecnología</option>
                                <option value="Juguetes">Juguetes</option>
                                <option value="Accesorios">Accesorios</option>
                                <option value="Herramientas">Herramientas</option>
                                <option value="Hogar">Hogar</option>
                                <option value="Deporte">Deporte</option>
                            </select>

                            <label>Precio</label>
                            <input id="pre" type="number" name="precio" required min="0" placeholder="Precio"
                                th:value="${d.price}">
                            <label>Nombre</label>
                            <input id="nom" type="text" name="diseno" required placeholder="Diseño"
                                th:value="${d.name}">
                            <label>Descripción</label>
                            <input id="dec" type="text" name="about" placeholder="Describe el diseño"
                                th:value="${d.description}">
                            <input id="modif" type="submit" value="Modificar">
                        </form>
                    </div>

                </div>
                <a th:href="@{#} + ${d.id}" class="btn" id="openDesign"><img
                        style="width: 50%; margin-left: auto; margin-right: auto;" id="icon"
                        th:src="@{/design/{id}/captura(id=${d.id})}" alt="Diseño" />

                </a>
                <div class="modal fade modal-xl" th:id="${d.id}" tabindex="-1" role="dialog"
                    aria-labelledby="myModalLabel">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content" style="width: 580px;">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                        aria-hidden="true"> x </span></button>

                            </div>
                            <div class="modal-body">

                                <script type="module"
                                    src="https://unpkg.com/@google/model-viewer/dist/model-viewer.min.js"></script>
                                <style>
                                    model-viewer {
                                        width: 580px;
                                        height: 580px;
                                        background-color: black;
                                    }
                                </style>
                                <model-viewer th:src="@{/design/{id}/design(id=${d.id})}" auto-rotate camera-controls>
                                </model-viewer>
                                <h3>Descripción</h3>
                                <p th:text="${d.description}"></p>

                            </div>

                        </div>
                    </div>
                </div>
                <div class="stats">
                    <div class="stat">
                        <p th:text="${d.punctuation}"></p>
                    </div>
                    <div class="stat">
                        <p>Me gusta</p>
                    </div>
                </div>
            </div>

            <!--Modal añadir impresora-->
            <div th:if="${session.u.username == user.username}" style="width: 100%;">
                <button id="boton_printer" style="float:right; height: auto; margin-top: 2%;">Añadir impresora</button>
            </div>
            <div id="addPrinterModal" class="modal">

                <div class="modal-content">
                    <span class="close1" style="float:right;">&times;</span>
                    <form class="form" method="POST" th:action="@{/printer/addPrinter}" enctype="multipart/form-data">
                        <label>Nombre</label>
                        <input type="text" required name="name" placeholder="Nombre">
                        <label>Nivel de material</label>
                        <input type="range" name="mat-level" min="0" max="100" required step="5">
                        <label>Precio por impresión</label>
                        <input type="number" name="price" min="0" max="50" required>
                        <input type="submit" value="Añadir">
                    </form>
                </div>

            </div>
            <div th:each="p: ${userPrinters}" class="diseno">
                <div style="display:flex; flex-direction:row; align-items: center;">
                    <h3 th:text="${p.name}"></h3>
                    <th:block th:switch="${p.status}">
                        <span th:case="'AVAILABLE'" title="Available"
                            style="margin-left: 1%; height: 15px;width: 15px;background-color: rgb(131, 207, 16);border-radius: 50%;display: inline-block;"></span>
                        <span th:case="'NO_INK'" title="No Ink"
                            style="margin-left: 1%; height: 15px;width: 15px;background-color: rgb(207, 194, 16);border-radius: 50%;display: inline-block;"></span>

                        <span th:case="'WORKING'" title="Working"
                            style="margin-left: 1%; height: 15px;width: 15px;background-color: rgb(207, 16, 16);border-radius: 50%;display: inline-block;"></span>

                    </th:block>
                </div>
                <a th:href="@{#} + ${p.id} + @{p}" class="btn" id="openPrinter"><img
                        style="width: 50%; margin-left: auto; margin-right: auto;" id="icon" src="/img/printer.png"
                        alt="Diseño" />

                </a>
                <div class="modal fade modal-xl" th:id="${p.id} + @{p}" tabindex="-1" role="dialog"
                    aria-labelledby="myModalLabel">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content" style="width: 580px;">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                        aria-hidden="true"> x </span></button>

                            </div>
                            <div class="modal-body">
                                <h3>Descripción</h3>
                                <p>Precio de impresión:</p>
                                <form class="form" method="POST" th:action="@{/printer/modifyPrice/{id}/(id=${p.id})}"
                                    enctype="multipart/form-data">
                                    <input type="number" id="precioImp" name="price" min="0" max="50"
                                        th:value="${p.precio}" required>
                                    <input type="submit" class="change" value="Cambiar">
                                </form>
                                <form th:if="${session.u.username == user.username}" method="POST"
                                    th:action="@{/printer/delPrinter/{id}/(id=${p.id})}">
                                    <input th:if="${p.status} == 'AVAILABLE'" id="test" type="Submit" value="Eliminar">
                                    <input th:unless="${p.status} == 'AVAILABLE'" type="Submit" value="Eliminar"
                                        disabled>
                                </form>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="stats">
                    <div class="stat">
                        <p th:text="${p.punctuation}"></p>
                    </div>
                    <div class="stat">
                        <p>Me gusta</p>
                    </div>
                </div>
            </div>
            <div th:if="${session.u.username == user.username}"
                style="width: 100%; display:flex; flex-direction: column;">
                <h2 style="margin-bottom: 2%;">Mis diseños comprados</h2>
                <div th:each="c: ${sales}" style="display:flex; flex-direction:colum; margin-bottom: 10%;">
                    <div style="display:flex; flex-direction:row; align-items: center; margin-right: 3%;">
                        <h3>Identificador del diseño: </h3>
                        <p th:text="${c}"></p>
                    </div>
                    <a th:href="@{/sale/download/{id}/(id=${c})}">Descargar</a>
                </div>
            </div>
            <div id="pedidosHistorial" style="display: flex; flex-direction: column; width: 50%;" th:if="${session.u.username == user.username}">
                <h2 style="margin-bottom: 2%;">Mis pedidos</h2>
            </div>
        </div>
    </div>


    <footer th:replace="fragments/footer.html :: footer">
        Footer goes here
    </footer>
    <script>
        document.addEventListener("DOMContentLoaded", () => {

            // Cerramos todo el contenido al cargar la página
            $('.dropdownContent').hide();
        });

        $(".change").on('click', function (e) {
            //let idOfTarget = document.getElementById("disenio").value;

            let url = this.parentElement.action
            let valor = this.parentElement.children[1].value;
            e.preventDefault();
            if (valor === '') {
                alert('No puedes dejar el campo vacío!!!');
            }
            else {
                console.log(valor, url);
                go(url, 'POST', // <-- hace el `fetch`, y recibe resultados
                    { price: valor })
                    .then(d => { console.log("happy", d); document.getElementById("precioImp").value = valor; })
                    .catch(e => console.log("sad", e))
            }
        });

        //Envío de mensaje de reportar
        $(".report").on('click', function (e) {
            //let idOfTarget = document.getElementById("disenio").value;

            let url = this.parentElement.action

            //let id = this.parentElement.children[1].value;

            e.preventDefault(); // <-- evita que se envíe de la forma normal
            console.log(e, $(this).parent().parent())
            go(url, 'POST', // <-- hace el `fetch`, y recibe resultados
                {})
                .then(d => { console.log("report done", d); })
                .catch(e => console.log("bad luck, evil is better", e))
        });
    </script>
    <script th:inline="javascript">
        /*<![CDATA[*/
        var main = document.getElementById("pedidosHistorial");
        var historial = /*[[${history}]]*/[];
        if (historial.length != 0) {
            var pedido = document.createElement("div");
            pedido.classList.toggle("dropdownMenu");
            main.appendChild(pedido);
            //var parent =  document.getElementById("");;
            var currentSale = historial[0]['sale'];
            var title = document.createElement("div");
            title.classList.add('title', 'dropdownButton');
            var titulo = document.createElement("p");
            var textTitle = document.createTextNode("Pedido:" + currentSale);
            titulo.appendChild(textTitle);

            title.onclick = function () {

                //Elimina la clase on de todos los botones
                $('.dropdownButton').removeClass('on');

                //Plegamos todo el contenido que esta abierto
                $('.dropdownContent').slideUp('slow');

                //Si el siguiente slide no esta abierto lo abrimos
                if ($(this).next().is(':hidden') == true) {

                    //Añade la clase on en el botón
                    $(this).addClass('on');

                    //Abre el slide
                    $(this).next().slideDown('slow');
                }

            }

            title.appendChild(titulo);
            pedido.appendChild(title);
            var content = document.createElement("div");
            content.classList.toggle("dropdownContent");
            pedido.appendChild(content);

            for (var i = 0; i < historial.length; ++i) {
                if (historial[i]['sale'] == currentSale) {

                    var contenedor = document.createElement("div");

                    // Crear nodo de tipo Text
                    var producto = document.createElement("p");
                    var text1 = document.createTextNode("Producto:" + historial[i]['design'] + " " + "Precio:" + historial[i]['price']);
                    producto.appendChild(text1);
                    contenedor.appendChild(producto);

                    // Añadir el nodo Element como hijo de la pagina
                    pedido.children[1].appendChild(contenedor);


                }
                else {
                    pedido = document.createElement("div");
                    pedido.classList.toggle("dropdownMenu");
                    main.appendChild(pedido);
                    //var parent =  document.getElementById("");;
                    currentSale = historial[i]['sale'];
                    title = document.createElement("div");
                    title.classList.add('title', 'dropdownButton');
                    titulo = document.createElement("p");
                    textTitle = document.createTextNode("Pedido:" + currentSale);
                    titulo.appendChild(textTitle);

                    title.onclick = function () {

                        //Elimina la clase on de todos los botones
                        $('.dropdownButton').removeClass('on');

                        //Plegamos todo el contenido que esta abierto
                        $('.dropdownContent').slideUp('slow');

                        //Si el siguiente slide no esta abierto lo abrimos
                        if ($(this).next().is(':hidden') == true) {

                            //Añade la clase on en el botón
                            $(this).addClass('on');

                            //Abre el slide
                            $(this).next().slideDown('slow');
                        }

                    }

                    title.appendChild(titulo);
                    pedido.appendChild(title);
                    content = document.createElement("div");
                    content.classList.toggle("dropdownContent");
                    pedido.appendChild(content);

                    contenedor = document.createElement("div");

                    // Crear nodo de tipo Text
                    producto = document.createElement("p");
                    text1 = document.createTextNode("Producto:" + historial[i]['design'] + " " + "Precio:" + historial[i]['price']);
                    producto.appendChild(text1);
                    contenedor.appendChild(producto);

                    // Añadir el nodo Element como hijo de la pagina
                    pedido.children[1].appendChild(contenedor);
                }
            }
        }

        /*]]>*/
    </script>
</body>

</html>