<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <th:block th:replace="fragments/header.html :: header" />
    <script src="/js/main.js"></script>
    <title>Profile</title>
</head>

<body>
    <header th:replace="fragments/cabecera.html :: cabecera">
        Header goes here
    </header>
    <nav th:replace="fragments/nav.html :: nav">
        Nav goes here
    </nav>

    <div class="profile">
        <div class="perfil-izq">
            <div class="datos-Usuario">
                <img style="width: 20%;" src="../../static/img/user.png" th:src="@{/img/user.png}" alt="User" />
                <p th:text="${user.firstName}"></p>
                <a class="mensaje-perfil" th:href="@{/message/received}">Mensaje</a>
                <div class="stats-usuario">
                    <div class="stats">
                        <div class="stat">
                            <p th:text="${punctuation[0]}"></p>
                        </div>
                        <div class="stat">
                            <p>Puntos</p>
                        </div>
                    </div>
                    <div class="stats">
                        <div class="stat">
                            <p th:text="${punctuation[1]}"></p>
                        </div>
                        <div class="stat">
                            <p>Diseños</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="info-Usuario">
                <h3>Sobre mí:</h3>
                <p th:text="${user.aboutMe}">
                </p>
                <!-- <h3>Nivel de experiencia:</h3>
                <p th:text="${user.aboutMe}"></p> -->

            </div>
        </div>
        <div class="perfil-der">
            <div style="width: 100%;">
                <button id="boton_design" style="float:right; height: auto;">Añadir diseño</button>
            </div>
            <div id="addDesignModal" class="modal">

                <div class="modal-content">
                    <span class="close">&times;</span>
                    <form class="form" method="POST" th:action="@{/design/addDesign}" enctype="multipart/form-data">
                        <label>Categoría</label>
                        <select required name="category" id="ctg">
                            <option value="" disabled selected>Selecciona una categoría</option>
                            <option value="Tecnologia">Tecnología</option>
                            <option value="Juguetes">Juguetes</option>
                            <option value="Accesorios">Accesorios</option>
                            <option value="Herramientas">Herramientas</option>
                            <option value="Hogar">Hogar</option>
                            <option value="Deporte">Deporte</option>
                        </select>

                        <label>Precio</label>
                        <input type="number" name="precio" required min="0" placeholder="Precio">
                        <label>Nombre</label>
                        <input type="text" name="diseno" required placeholder="Diseño">
                        <label>Descripción</label>
                        <input type="text" name="about" placeholder="Describe el diseño">
                        <label>Volumen</label>
                        <input type="number" name="volumen" placeholder="Volumen" min="1" required>
                        <label>Fichero del diseño</label>
                        <input id="modelo3D" type="file" name="fichero" placeholder="Archivo" accept=".glb" multiple
                            max-file-size="1024" required>
                        <label>Captura del diseño (*opcional)</label>
                        <input type="file" name="captura" placeholder="Captura" accept=".jpg, .png">
                        <input type="submit" onclick="validate()" value="Añadir">
                    </form>
                </div>

            </div>

            <div th:each="d: ${userDesigns}" class="diseno">
                <h3 th:text="${d.name}"></h3>
                <a th:href="@{#} + ${d.id}" class="btn" id="openDesign"><img
                        style="width: 50%; margin-left: auto; margin-right: auto;" id="icon"
                        th:src="@{/design/{id}/captura(id=${d.id})}" alt="Diseño" />

                </a>
                <div class="modal fade modal-xl" th:id="${d.id}" tabindex="-1" role="dialog"
                    aria-labelledby="myModalLabel">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content" style="width: 580px;">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                        aria-hidden="true"> x </span></button>

                            </div>
                            <div class="modal-body">

                                <script type="module"
                                    src="https://unpkg.com/@google/model-viewer/dist/model-viewer.min.js"></script>
                                <style>
                                    model-viewer {
                                        width: 580px;
                                        height: 580px;
                                        background-color: black;
                                    }
                                </style>
                                <model-viewer th:src="@{/design/{id}/design(id=${d.id})}" auto-rotate camera-controls>
                                </model-viewer>
                                <h3>Descripción</h3>
                                <p th:text="${d.description}"></p>

                            </div>

                        </div>
                    </div>
                </div>
                <div class="stats">
                    <div class="stat">
                        <p th:text="${d.puntuation}"></p>
                    </div>
                    <div class="stat">
                        <p>Me gusta</p>
                    </div>
                </div>
            </div>

            <!--Modal añadir impresora-->
            <div style="width: 100%;">
                <button id="boton_printer" style="float:right; height: auto; margin-top: 2%;">Añadir impresora</button>
            </div>
            <div id="addPrinterModal" class="modal">

                <div class="modal-content">
                    <span class="close close1" style="float:right;">&times;</span>
                    <form class="form" method="POST" th:action="@{/printer/addPrinter}" enctype="multipart/form-data">
                        <label>Nombre</label>
                        <input type="text" required name="name" placeholder="Nombre">
                        <label>Nivel de material</label>
                        <input type="range" name="mat-level" min="0" max="100" required step="5">
                        <input type="submit" value="Añadir">
                    </form>
                </div>

            </div>
            <div th:each="p: ${userPrinters}" class="diseno">
                <div style="display:flex; flex-direction:row; align-items: center;">
                    <h3 th:text="${p.name}"></h3>
                    <th:block th:switch="${p.status}">
                        <span th:case="'AVAILABLE'" title="Available"
                            style="margin-left: 1%; height: 15px;width: 15px;background-color: rgb(131, 207, 16);border-radius: 50%;display: inline-block;"></span>
                        <span th:case="'NO_INK'" title="No Ink"
                            style="margin-left: 1%; height: 15px;width: 15px;background-color: rgb(207, 194, 16);border-radius: 50%;display: inline-block;"></span>

                        <span th:case="'WORKING'" title="Working"
                            style="margin-left: 1%; height: 15px;width: 15px;background-color: rgb(207, 16, 16);border-radius: 50%;display: inline-block;"></span>

                    </th:block>
                </div>
                <a th:href="@{#} + ${p.id} + @{p}" class="btn" id="openPrinter"><img
                        style="width: 50%; margin-left: auto; margin-right: auto;" id="icon" src="/img/printer.png"
                        alt="Diseño" />

                </a>
                <div class="modal fade modal-xl" th:id="${p.id} + @{p}" tabindex="-1" role="dialog"
                    aria-labelledby="myModalLabel">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content" style="width: 580px;">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                        aria-hidden="true"> x </span></button>

                            </div>
                            <div class="modal-body">
                                <h3>Descripción</h3>
                                <p>De momento no hay nada, vaya</p>
                                <form method="POST" th:action="@{/printer/delPrinter/{id}/(id=${p.id})}">
                                    <input th:if="${p.status} == 'AVAILABLE'" id="test" type="Submit" value="Eliminar">
                                    <input th:unless="${p.status} == 'AVAILABLE'" type="Submit" value="Eliminar"
                                        disabled>
                                </form>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="stats">
                    <div class="stat">
                        <p th:text="${p.puntuation}"></p>
                    </div>
                    <div class="stat">
                        <p>Me gusta</p>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <footer th:replace="fragments/footer.html :: footer">
        Footer goes here
    </footer>

</body>

</html>